/backend/            @thakuraryan014-cloud @Priyanka-007-dev
/backend/**/migrations/ @adityajulkaan9-glitch @thakuraryan014-cloud
/frontend/           @vanshdadwal @Harshi-007
/.github/            @NikhilChoudhary1924
